@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;600&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;


@layer components {
  .nav-links {
    @apply mx-2 py-2 w-screen text-center font-semibold capitalize  transition-all duration-300 ease-in md:hover:underline text-slate-600 hover:bg-sky-600 hover:text-white md:hover:bg-transparent md:hover:text-sky-600;
  }
  .--grid {
    display: grid;
    grid-gap: 1rem;
    grid-template-columns: repeat(12, 1fr);
    grid-template-rows: repeat(minmax(0, 20), 100px);
  }
  .--clip-polygon {
    clip-path: polygon(0 0, 50% 0, 50% 100%, 0 100%);
  }
  
}

@layer utilities {
  .trans {
    @apply transition-all duration-300 ease-in;
  }
  .border-b-oval {
    border-radius: 0px 0px 50vw 50vw / 0px 0px 8vw 8vw;
  }
  .img1 {
    background-image: url('./media/img1.png');
  }.img2 {
    background-image: url('./media/img2.png');
  }.img3 {
    background-image: url('./media/img3.png');
  }.img4 {
    background-image: url('./media/img4.png');
  }
  .--appearance-none {
    -webkit-appearance: none;
  }
}

#slider-thumb::-webkit-slider-thumb {
  --webkit-appearance: none;
  height: 60px;
  width: 60px;
}



